@import (inline) './variables.module.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//position
.centered {
  justify-content: center;
  align-items: center;
  display: flex;
}

//others
.scrollable-row {
  flex-flow: unset !important;
  overflow-x: scroll;
  overflow-y: hidden;
}
